html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  display: flex;
  width: auto;
  align-items: center;
  justify-content: center;
  font-family: "Roboto Condensed", sans-serif;
  min-height: 100vh;
  font-weight: 800;
  background-image: url(https://github.com/kaancetinkayasf/SimpsonsQuotes/blob/master/img/background-ihttps://raw.githubusercontent.com/kaancetinkayasf/SimpsonsQuotes/master/img/background-image2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.quote-container {
  width: auto;
  margin: auto;
  padding: 10px;
  min-width: 100px;
  max-width: 900px;
  min-height: 100px;
  box-shadow: 1px 1px 3px 3px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.quote-text {
  font-size: 3rem;
}

.long-quote {
  font-size: 0.3rem;
}

.author-text {
  margin: 10px;
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
}

.button-container {
  display: flex;
  margin-top: 40px;
  margin-bottom: 10px;
  justify-content: space-between;
}

.button-container button {
  padding: 5px 30px;
  border: none;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  box-shadow: 0 5px grey;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.35rem;
}

button:active {
  transform: translate(0, 5px);
  box-shadow: none;
}

.twitter:hover {
  color: rgb(64, 187, 224);
}

.spinner {
  width: 60px;
  height: 60px;
  background-color: rgb(247, 245, 245);

  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px);
  }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
  }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
/* QUERIES */
@media screen and (max-width: 1000px) {
  .quote-container {
    margin: auto 10px;
  }
  .quote-text {
    font-size: 2.5rem;
  }
}
